@font-face {
    font-family: Montseratt, sans-serif;
    src: url(fonts/Montseratt) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Judson-Regular", sans-serif;
    background-color: rgb(244, 240, 235);
}


nav{

}

.text{
    align-items: center;
    text-align: left;
    font-family: "Judson-Regular", sans-serif;
    margin: 2rem auto;
    width: 60%;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.173);
    max-width: 800px;
}
